# Ignorar archivos de bytecode de Python
*.pyc
*.pyo
*.pyd
**/__pycache__/

# Ignorar archivos de caché y temporales
*.log
*.tmp
*.swp
*.swo

# Ignorar archivos generados por entornos virtuales
venv/
.env/
.envrc
.venv/

# Ignorar archivos de configuración de IDEs comunes
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar archivos de compilación
build/
dist/
*.egg-info/